 /* Sachintha Fernando 
     BSCP|CS|62|113  */

:root {
    --gradient: linear-gradient(90deg, #8b0ff1, #590d97);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: #8b0ff1;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.5rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#8b0ff1, #590d97);
}

header {
    background: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
}

header img {
    width: 50px;
    height: 50px;
}

header .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 100px;
    text-align: left;
    align-items: left;
}

header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

header .navbar ul li a:hover {
    color: #070707;
    font-weight: 00;
}

header .navbar ul li a.active {
    position: relative;
    color: #070707;
}

header .navbar ul li a.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    margin-left: 5px;
    font-weight: 600;
    width: 38px;
    background: #000000;
}

header .mobile-navbar .menu-icon {
    display: none;
}

.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8b0ff1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

header i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

header i:hover {
    color: #444;
}

header #menu {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
    margin: 10px;
    margin-left: 70px;
    margin-right: -50px;
}

/* Style the login and signup buttons */
.button {
    font-size: 15px;
    background-color: #b074e0;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #540977;
}

.menu-icon i {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.menu-icon.active i {
    transform: rotate(90deg);
}

/* Add this media query for mobile responsiveness */
@media (max-width: 700px) {
    .navbar .mobile-navbar.active {
        right: 0;
    }

    .navbar .mobile-navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navbar .mobile-navbar ul li {
        padding: 15px;
    }

    header .mobile-navbar .menu-icon {
        display: flex;
    }

    .navbar .mobile-navbar ul {
        display: none;
    }

    .navbar .mobile-navbar.active ul {
        display: block;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .button {
        font-size: 15px;
        background-color: #b074e0;
        font-weight: 700;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        width: 100px;
    }
}


.btn {
    padding: .7rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: .3s linear;
    left: 120%;
}

.ctrainer {
    display: flex;
    align-items: center;
    height: 620px;
    justify-content: center;
    flex-flow: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.ctrainer .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ctrainer .video-container .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ctrainer .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px) brightness(80%) saturate(120%);

}

.ctrainer h1 {
    font-size: 7rem;
    color: #ffffff;
    font-weight: bolder;
    position: relative;
    text-shadow: #000000;
}

.ctrainer p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
    font-size: 20px; 
    margin-bottom: 10px; 
    line-height: 1.5; 
    width: 600px;
    margin-top: 40px;
    position: relative;
    text-shadow: #000000;
}

section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

.heading {
    color: #444;
    padding: 1rem;
    font-size: 4rem;
    text-align: center;
}

.trainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 1200px;
    position: relative;
    text-align: center;
}

.trainer .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}

.trainer .box-container .box {
    width: calc(33.333% - 3rem);
    border: .1rem solid rgba(0, 0, 0, .3);
    position: relative;
    margin: 1.5rem;
}

.trainer .box-container .box:hover {
    transform: scale(1.1);
}

.trainer .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.trainer .box-container .box .content {
    padding: 1rem;
}

.trainer .box-container .box .content .stars i {
    color: #000000;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.trainer .box-container .box .content .title {
    text-align: center;
    color: #444;
    font-size: 20px;
}

.trainer i {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.trainer .box-container .box .content .title:hover {
    color: #9617d1;
    text-decoration: underline;
}

.trainer .box-container .box .content p {
    padding: 1rem 0;
    color: #8b8b8b;
    font-size: 1.5rem;
}

.trainer .box-container .box .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
}

.trainer .box-container .box .content .icon h3 {
    margin-top: 5px;
    margin-right: 10px;

    font-size: 20px;
    color: #8b0ff1;
}

@media (max-width: 700px) {
    .trainer {
        height: 100%;
    }

    .trainer .box-container {
        flex-direction: column;
    }

    .trainer .box-container .box img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }

    .trainer .box-container .box {
        width: 500px;
        border: .1rem solid rgba(0, 0, 0, .3);
        position: relative;
        margin: 1.5rem;
        height: 500px;
    }
}

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8b0ff1;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}

#scrollUpButton.visible {
    display: block;
}

.chat-icon.visible {
    display: block;
}


.chat-icon {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #8b0ff1;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;
}

.chat-icon.active {
    width: 200px;
    height: 200px;
    border-radius: 0;
    right: 10px;
    bottom: 10px;
}

#chatBox {
    position: fixed;
    bottom: 150px;
    right: 20px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
}

#chatBox.active {
    display: block;
}

#chatHeader {
    background-color: #8b0ff1;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

#chatHeader button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

#chatMessages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    font-size: 16px;
}

.chat-message {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
}

.received {
    background-color: #f0f0f0;
}

.sent {
    background-color: #8b0ff1;
    color: #fff;
    align-self: flex-end;
}

.send {
    display: flex;
    display: fixed;
    position: absolute;
    top: 258px;
    bottom: 20;
}

#messageInput {
    width: 240px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

#sendMessage {
    width: 30%;
    padding: 10px;
    background-color: #8b0ff1;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    border-radius: 10px;
}

/* Footer */
footer {
    margin-top: 70px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #380252, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 15px;
    line-height: 20px;

}

footer .frow {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .frow .fcol {
    flex-basis: 25%;
    padding: 10px;
}

footer .frow .fcol:nth-child(1) {
    flex-basis: 28%;
}

footer .frow .fcol:nth-child(2) {
    flex-basis: 28%;
}

footer .frow .fcol:nth-child(3) {
    flex-basis: 15%;
}

footer .frow .fcol .logo {
    width: 80px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

footer .frow .fcol h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer .frow .fcol ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer .frow .fcol ul li a {
    text-decoration: none;
    color: #fff;
}

footer .frow .fcol ul li a:hover {
    font-size: 17px;
}

footer .frow .fcol form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer .frow .fcol form .far {
    font-size: 18px;
    margin-right: 10px;
}

footer .frow .fcol form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer .frow .fcol form button {
    background: transparent;
    border: 0;

    outline: none;
    cursor: pointer;
}

footer .frow .fcol form button .fas {
    font-size: 16px;
    color: #ccc;
}

footer .fcol .social-icons {
    display: flex;
}

footer .fcol .social-icons .fab {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    justify-items: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    font-size: 24px;
}

footer .fcol .social-icons .fab:hover {
    background-color: #ad01fd;
    color: #fff;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    position: absolute;
    top: 25px;
    border-radius: 3px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    .fcol {
        flex-basis: 100%;
    }

    .fcol:nth-child(2),
    .fcol:nth-child(3) {
        flex-basis: 100%;
    }
}